:root {
    --header-height:0px;
}
*,
*:before,
*:after
{
    box-sizing: border-box;
}
html, body{
    height:100%;
}
html {
    scroll-behavior: smooth;
}
body {
    display:flex;
    flex-direction: column;
    font-family:'Dosis';
}

/* HEADER - CONTAINS NAV */
header{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    
    border:1px solid yellow;
    z-index: 100;

}
/* HEADER - CONTAINS NAV */

/* NAVIGATION MENU */
.header-nav{

    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap:5px;
    padding:5px;
    margin:5px;

    width:100%;
    border:1px solid red;

}
.header-nav > ul{

    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content:center;
    padding:0;
    margin:0;
    margin-right:5px;

    width:100%;
    list-style: none;

    border:1px solid white;
    
}
.header-nav > ul > li{

    /* 1 = allow grow */
        flex-grow: 0;
    /* 1 = allow grow */
    /* 1 = allow shrinking */
        flex-shrink: 1;
    /* 1 = allow shrinking */

    padding:5px;
    margin-top:auto;
    /* margin-bottom:auto; CAN BE USEFUL */
        margin-bottom:auto;
    /* margin-bottom:auto; CAN BE USEFUL */

    cursor:pointer;

    border:1px solid aqua;

}
.portrait-nav-toggle{
    display:none;
}
/* NAVIGATION MENU */

main{
    position:relative;
    border: 1px dashed ;
    background-color: red;
    top:var(--header-height);
    /* width:100%; */
    height:max-content;
}

section{

    border: 1px solid yellow;

}
/* FOOTER */
footer{

    flex-shrink: 0;

    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap:5px;
    padding:5px;
    margin:5px;

    justify-content:space-around;

    width:100%;

    border:1px solid chartreuse ;
    /* height:5rem; */

}
address{

    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap:5px;
    padding:5px;
    margin:0px;

}
footer *{

    padding:5px;
    border:1px solid aqua;

}
/* FOOTER */

.site-content-wrapper{
    flex: 1 0 auto;
}

/* COVER THE SCREEN WITH THIS BACKGROUND */
.screen-background{
    z-index: -100;
    background-color: rgba(0,0,255,.5);
    /* BACKGROUND IMAGE */
        /* background-image: url('tile1.jpg');   */
        /* background-repeat: no-repeat; */
        /* background-size:cover; */
        /* background-position-y: center; */
        /* opacity:.1; */
    /* BACKGROUND IMAGE */
    position: fixed;
    top:0;
    left:0;
    /* height:100vh; */
    bottom:0;
    /* width:100vw; */
    right:0;
    /* display:none; */
}
/* COVER THE SCREEN WITH THIS BACKGROUND */

/* HIDE - USE THIS INSTEAD OF DISPLAY: NONE */
.no-show{
    position: fixed;
    top: -9999px;
    left: -9999px;
}
/* HIDE - USE THIS INSTEAD OF DISPLAY: NONE */

/* DEFAULT STYLING OF THE H1 TAG */
.default-h1{

    display: block;

    font-size: 2em;
    font-weight:900;
    font-stretch:ultra-expanded;
    /* text-decoration: overline underline; */
    /* text-decoration-color: navy; */
    /* text-decoration-thickness: 1px; */

    color:navy;
    /* margin-top: 0.67em; */
    /* margin-bottom: 0.67em; */
    margin-left: 0;
    margin-right: 0;

}
.my-h1{
    text-align: center;
}
/* DEFAULT STYLING OF THE H1 TAG */

@media screen and (orientation: portrait){

    .header-nav > ul{
    
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        /* left:50%; */
        flex-direction: column;
        padding: min(10vh, 5rem) 2rem;
        /* ?% of its own width to the right, if positive. */
        /* ?% of its own width to the left, if negative. */
        transform:translateX(100%);
        transition: transform 350ms ease-in-out;

        background-color: steelblue;
        /* hsl = hue, saturation, lightness, opacity */
        background: hsl(0 0% 100% /.5);
        /* hsl = hue, saturation, lightness, opacity */
        backdrop-filter: blur(1rem);
        --gap: 2em;
        /* z-index: 99; */

        width:50%;

    }
    #header-nav-ul[data-visible="true"]{
        transform:translateX(0%);
    }
    .portrait-nav-toggle{

        display:block;
        position:absolute;
        width:3rem;
        aspect-ratio: 1;
        top:1rem;
        right:1rem;
        background-color: transparent;
        color:white;
        /* color:chartreuse; */
        border: none;
        z-index: 100;
        /* background-image: url("hamburger-menu.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent; */

        font-size: 20px;

    }
    .portrait-nav-toggle[data-visible="false"]{
        color:navy;
        background-color: rgba(255,255,255,.5);
        border-radius:50%;
    }
    .portrait-nav-toggle[data-visible="true"]{
        color:red;
        background-color: rgba(255,255,255,.5);
        border-radius:50%;
    }

}